h1 {
  text-align: center;

}
header {
    border: 2px solid black;
    background-color:#67E46F ;
}

img {
 width: 400px;
 height: 250px;
 margin-left:25%;
  
}
footer {
  border: 2px solid black;
}

body {
   border: 2px solid red;

}


 
  
